<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl0882275jaar2kw4quizdroid.hr.cmi.httpstudent.quizdroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateAccount"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name=".LoginAccount"
            android:label="@string/title_activity_login_account" >
        </activity>
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile" >
        </activity>
        <activity
            android:name=".QuizActivity"
            android:label="@string/title_activity_quiz" >
        </activity>
        <activity
            android:name=".QuestionActivity"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name=".QuestionSoundActivity"
            android:label="@string/title_activity_question_sound" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name=".SetPreferenceActivity"
            android:label="@string/action_settings" >
        </activity>
    </application>

</manifest>
